doctype html
html
	head
		title My First Blog :: #{title}

		block styles
			link(rel="stylesheet", href="/themes/css/bootstrap.min.css")
			link(rel="stylesheet", href="/themes/css/font-awesome.min.css")
			link(rel="stylesheet", href="/themes/css/style.css")

	body
		div#wrapper
			include ../includes/header.jade

			div(class="container")
				block contents
			include ../includes/footer.jade

			block scripts
				script(src="/themes/js/jquery.1.10.2.min.js")
				script(src="/themes/js/bootstrap.min.js")
				script(src="/themes/js/tinymce4x/tinymce.min.js")
				script(src="/themes/js/main.js")