extends ../layouts/master.jade

block contents

	div(class="page-header")
		h5 Create a post

	case status
		when "success"
			div(class="alert alert-success")
				p #{message}

		when "error"
			div(class="alert alert-danger")
				p #{message}

	form(class="form form-horizontal" action="" method="POST" enctype="multipart/form-data")
		div(class="form-group")
			label(class="col-sm-2 control-label") Picture
			div(class="col-sm-6")
				input(class="form-control" type="file" name="picture")

		div(class="form-group")
			label(class="col-sm-2 control-label") Title
			div(class="col-sm-6")
				input(class="form-control" type="text" name="title" placeholder="Title")

		div(class="form-group")
			label(class="col-sm-2 control-label") Teaser
			div(class="col-sm-6")
				textarea(class="form-control" name="teaser" placeholder="Teaser")

		div(class="form-group")
			label(class="col-sm-2 control-label") Content
			div(class="col-sm-6")
				textarea(class="form-control content-editor" name="content" placeholder="Content")

		div(class="form-group")
			div(class="col-sm-2 col-sm-offset-2")
				button(type="submit" class="btn btn-sm btn-primary") Post

