extends ./layouts/master.jade

block contents
	div(class="row")
		- each post in posts
			div(class="post-item col-sm-4")
				a(href="#{ functions.urlPost(post) }")
					h5(class="text-center") #{ post.title }
					div.picture-top
						img(src="/pictures/#{ post.picture }" class="col-sm-12 picture")